* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover,
a:focus,
a:active {
color: black;
}
.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline-block;
  line-height: 60px;
  padding: 0 10px;
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.wrapper {
  width: 90%;
  margin: 20px auto;
}
header {
  height: 60px;
}
nav {
  width: 100%;
}
a img {
  width: 90px;
  margin-bottom: 6px;
  line-height: 60px;
  vertical-align: middle;
}
.btn {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: rgb(247, 4, 87);
  color: white;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.relative{
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  left: 95px;
  width: 120px;
  text-align: center;
  background-color: white;
  filter:drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
.dropdown li {
  width: 100%;
}
.dropdown.active {
  display: block;
}
.dropdown.prodotti {
  width: 270px;
}
.dropdown.azienda {
  left: 250px;
  width: 150px;
}
